/* General Styling */
h3 {
    color: brown;
}

/*
body {
    background-color: skyblue;
    color: black;
    font-family: sans-serif, arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 3.0em;
    margin: 0;
}
*/

/* Link Styling */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

/* Container Styling */
.container {
    width: 80%;
    margin: auto;
}

/* Box-1 Styling */
.box-1 {
    background-color: #333;
    color: white;
    border: 5px red solid;
    border-width: 10px;
    border-bottom-width: 50px;
    border-top-style: dotted;
    padding: 50px;
    margin-top: 100px;
}

/* Font Styling for Box-1 Paragraphs */
.box-1 p {
    font-family: tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-decoration: uppercase;
    letter-spacing: 1.2em;
    word-spacing: 1em;
}

/* Box-2 Styling */
.box-2 {
    border: 3px dotted grey;
    padding: 20px;
    margin: 20px;
}

/* Categories Styling */
.categories {
    border: 1px #333 solid;
    padding: 10px;
    margin: 20px;
}

.categories h1 {
    text-align: center;
}

/* Working with UL in Categories */
.categories ul {
    padding: 0;
    list-style: none; /* Note: Removed duplicate 'list-style: square;' */
}

.categories li {
    padding-bottom: 8px;
    border-bottom: dotted 1px #333;
}

/* Form Styling */
.my-form {
    padding: 20px;
}

.my-form label{
    display: block;
}
.my-form input[type="text"], 
.my-form textarea {
    padding: 8px;
    width: 100%;
}

/*button*/
.my-form input[type="submit"]{
    background-color: black;
    color:white;
    padding:20px 10px;
    border:none;
}

.block{
    padding:20px;
    float:left;
    width:33.3%;
    border:1px solid black;
    /*use this to fit all the box in horizontal*/
    box-sizing: border-box;

}